[submodule "n00-frontiers"]
	path = platform/n00-frontiers
	url = https://github.com/n00tropic/n00-frontiers.git
	branch = main
[submodule "n00-cortex"]
	path = platform/n00-cortex
	url = https://github.com/n00tropic/n00-cortex.git
	branch = main
[submodule "n00-horizons"]
	path = platform/n00-horizons
	url = https://github.com/n00tropic/n00-horizons.git
	branch = main
[submodule "n00-school"]
	path = platform/n00-school
	url = https://github.com/n00tropic/n00-school.git
	branch = main
[submodule "n00t"]
	path = platform/n00t
	url = https://github.com/n00tropic/n00t.git
	branch = main
[submodule "n00plicate"]
	path = platform/n00plicate
	url = https://github.com/n00tropic/n00plicate.git
	branch = main
[submodule "n00tropic"]
	path = platform/n00tropic
	url = https://github.com/n00tropic/n00tropic.git
	branch = main
[submodule "n00clear-fusion"]
	path = platform/n00clear-fusion
	url = https://github.com/n00tropic/n00clear-fusion.git
	branch = main
[submodule "n00menon"]
	path = platform/n00menon
	url = https://github.com/n00tropic/n00menon.git
	branch = docs
[submodule "platform/n00man"]
	path = platform/n00man
	url = https://github.com/n00tropic/n00man.git
