store-dir=.pnpm-store
virtual-store-dir=.pnpm
shared-workspace-lockfile=true
link-workspace-packages=true
auto-install-peers=true
node-linker=hoisted
prefer-frozen-lockfile=true
store-dir-strict=false
